#technologies {
  
  color: $dark-blue-text;
  margin-top: -7rem;
  padding-top: 0;
  margin-bottom: 0;

  @include respond(phone) {
    margin-top: 0;
    padding-top: 0;
  }

  .technology-wrapper {
    margin-top: 5rem;
    margin-bottom: 15rem;
    margin-right: 5rem;
    margin-left: 5rem;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;

    @include respond(big-desktop) {
     margin-top: 5rem;
      margin-bottom: 5rem;
      margin-right: 5rem;
      margin-left: 5rem;
    }
  
    @include respond(tab-land) {
      margin-top: 4rem;
      margin-bottom: 4rem;
      margin-right: 4rem;
      margin-left: 4rem;
    }

    @include respond(tab-port) {
      margin-top: 3rem;
      margin-bottom: 3rem;
      margin-right: 3rem;
      margin-left: 3rem;
    }

    @include respond(tab-port-sm) {
      margin-top: 2rem;
      margin-bottom: 2rem;
      margin-right: 2rem;
      margin-left: 2rem;
    }

    @include respond(phone) {
      margin-top: 0rem;
      margin-bottom: 0rem;
      margin-right: 0rem;
      margin-left: 0rem;
    }
  }

  .icon {  
    margin: 3rem;
    padding: 0;
    margin-bottom: 0;
    
    @include respond(big-desktop) {
      width: 60%;
    }
  
    @include respond(tab-land) {
      width: 60%;
    }
          
    @include respond(tab-port) {
      width: 60%;
      margin: 1rem;
    }
  
    @include respond(tab-port-sm) {
      width: 60%;
      margin: 1rem;
    }
  
    @include respond(phone) {
      width: 60%;
      margin: 1rem;
    }
  }

  .name {
    font-size:1.5rem;
    text-transform: none;
  }
}
